<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.bgabriel998.softwaredevproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Button8Activity"></activity>
        <activity android:name=".Button7Activity" />
        <activity android:name=".Button6Activity" />
        <activity android:name=".Button5Activity" />
        <activity android:name=".Button4Activity" />
        <activity android:name=".Button3Activity" />
        <activity android:name=".Button2Activity" />
        <activity android:name=".Button1Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>